@model List<Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Atendimento</h1>

<table class="table">
    <tr>
        <th>Nome Cliente</th>
        <th>Ramo</th>
        <th>Atender até</th>
        <th>Status</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@Html.Label(item.Segurado.Nome)</td>
            <td>@Html.Label(item.Lead.Ramo)</td>
            <td>@Html.Label(item.Lead.VencimentoLead.ToString("dd/MM/yyyy HH:mm"))</td>
            <td>@Html.Label(item.Lead.StatusLead)</td>
            <td><a href="/AtendimentoLead/Atendimento?idCliente=@item.Id" class="btn btn-primary">Atender</a></td>
        </tr>
    }
</table>
