
@{
    ViewData["Title"] = "Index";
}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Taxa de conversão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Gostaria de melhorar sua taxa de conversão?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                @using (Html.BeginForm("cardapio", "AtendimentoLead"))
                {
                    <button type="submit" class="btn btn-primary">Sim</button>

                }

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="form-inline">
        <div id="donutchartUtilmoMes" style="width: 400px; height: 350px;"></div>
        <div id="donutchartMesAtual" style="width: 400px; height: 350px;"></div>
        <div>
            <div>
                <a class="taxa-conversao-label">Taxa de conversão</a>
            </div>
            <div style="margin-top: -45px;">
                <a class="taxa-conversao-value">79%</a>
            </div>
        </div>
    </div>
    <div id="columnchart_material" style="width: 1000px; height: 500px;"></div>
    <a style="float:right" href="/AtendimentoLead/AtendimentoEmAndamento" class="btn btn-primary">Em Andamento</a>

</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#modalExemplo').modal('show');
    });
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawRenovacaoUltimoMes);

    function drawRenovacaoUltimoMes() {
        $.ajax(
            {
                url: "/Gerenciamento/BuscaRenovacaoUltimoMes",
                type: "GET",
                success: function (data) {
                    var datas = google.visualization.arrayToDataTable(data);

                    var options = {
                        title: 'Renovações último mês',
                        pieHole: 0.4,
                        colors: ['#1A1442', '#FEDA00'],
                        is3D: true,
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('donutchartUtilmoMes'));

                    chart.draw(datas, options);
                },
                error: function (data) {
                }
            });
    }

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawMesAtual);

    function drawMesAtual() {
        $.ajax(
            {
                url: "/Gerenciamento/BuscaRenovacaoMesAtual",
                type: "GET",
                success: function (data) {
                    var datas = google.visualization.arrayToDataTable(data);

                    var options = {
                        title: 'Renovações mês atual',
                        pieHole: 0.4,
                        colors: ['#1A1442', '#FEDA00'],
                        is3D: true
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('donutchartMesAtual'));

                    chart.draw(datas, options);
                },
                error: function (data) {
                }
            });
    }

    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawBarChart);

    function drawBarChart() {
        $.ajax(
            {
                url: "/Gerenciamento/BuscaGraficoBar",
                type: "GET",
                success: function (data) {
                    var datas = google.visualization.arrayToDataTable(data);

                    var options = {
                        chart: {
                            title: 'Performance de vendas'
                        },
                        colors: ['#1A1442', '#FEDA00']
                    };

                    var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

                    chart.draw(datas, google.charts.Bar.convertOptions(options));
                },
                error: function (data) {
                }
            });
    }
</script>