
@{
    ViewData["Title"] = "Index";
}


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        $.ajax(
            {
                url: "/Graficos/BuscaGrafico",
                type: "GET",
                //data: ,
                success: function (data) {
                    var datas = google.visualization.arrayToDataTable(data);

                    var options = {
                        title: 'My Daily Activities',
                        pieHole: 0.4
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));

                    chart.draw(datas, options);
                },
                error: function (data) {
                }
            });
    }


    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart2);
    function drawChart2() {

        $.ajax(
            {
                url: "/Graficos/BuscaGrafico",
                type: "GET",
                //data: ,
                success: function (data) {
                    var datas = google.visualization.arrayToDataTable(data);

                    var options = {
                        title: 'My Daily Activities'
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                    chart.draw(datas, options);
                },
                error: function (data) {
                }
            });
    }
</script>

<div id="piechart" style="width: 900px; height: 500px;"></div>
<div id="donutchart" style="width: 900px; height: 500px;"></div>
