
@{
    ViewData["Title"] = "CadastroFinalizado";
}

<h1>Cadastro finalizado</h1>
<br />
<br />
<h3>Em breve um corretor entrará em contato com você!</h3>

@using (Html.BeginForm("Index", "Home"))
{
    <input type="submit" class="btn btn-primary" value="Voltar" />
}

