@model Cliente

@{
    ViewData["Title"] = "Cliente";
}

<h1>Cliente</h1>

@using (Html.BeginForm("Add", "Cliente", FormMethod.Post))
{

    <div>Cliente:</div>
    @Html.TextBoxFor(a => a.Nome)

    <input type="submit" value="Add" />

}

