@*@{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

@*FORMULARIO*@
@using (Html.BeginForm("Index", "Cliente"))
{
    <input type="submit" id="Formulario" class="btn btn-primary" value="Formulario" />
}

<br />
<br />

@*LEAD PENDENTE*@
@using (Html.BeginForm("Index", "AtendimentoLead"))
{
    <input type="submit" id="pendente" class="btn btn-primary" value="Lead Pendente" />
}

<br />
<br />

@*LEAD EM ANDAMENTO*@
@using (Html.BeginForm("AtendimentoEmAndamento", "AtendimentoLead"))
{
    <input type="submit" id="pendente" class="btn btn-primary" value="Lead em andamento" />
}

<br />
<br />

@*GESTÃO*@
@using (Html.BeginForm("Index", "Gerenciamento"))
{
    <input type="submit" id="pendente" class="btn btn-primary" value="Tela de Gestão" />
}
